@model FizzBuzzViewModel
<form  asp-controller="FizzBuzz" asp-action="index" method="post" class="">
    <div class="form-group row container col-sm-12 text-center">
        <label asp-for="User_Input" class=" col-form-label col-sm-3">Enter a Number</label>
        <div class="col-sm-5 col">
            <input asp-for="User_Input" class="form-control" placeholder="Integer">
        </div>
        <button type="submit" class="btn btn-primary col-sm-1">Enter</button>
        <span asp-validation-for="User_Input" class="text-danger text-center col-sm-3"></span>
    </div>
    
</form>