@model FizzBuzzViewModel
@using System
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{ DateTime dateInput = DateTime.Today;
    DayOfWeek today = dateInput.DayOfWeek; }
<div class="col-sm-12 text-center">
    <label class="col-sm-2 h5 ">Given Number : @Model.User_Input</label>
    <a asp-controller="FizzBuzz" asp-action="index" class="btn btn-primary m-1">Change</a>
</div>
<div class="container ">

    @foreach (var s in ViewBag.PagedList)
    {
<h4 class="@s">@s</h4>}
</div>
<div class="text-center h3">
    @Html.PagedListPager((IPagedList)ViewBag.PagedList, page => Url.Action("ResultViewWithPagination", new { @page = page, @fizzBuzzViewModel = Model }))
</div>
